{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6" style="text-align: center;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.youtubeId }}" frameborder="0" allowfullscreen></iframe>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="col-6">
                    {{ form_errors(form) }}
                    {{ form_start(form) }}

                    <label>{{ form_label(form.content, 'Mes notes') }}</label>
                    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'style' : 'min-height:213px;'}}) }}
                    <br/>
                    <p style="text-align: center;">
                        <input type="submit" class="btn btn-primary" value="Sauvegarder" />
                    </p>

                    {{ form_end(form) }}
                </div>
            <div class="col-md-12">
                <pre>
                    {{ video.captions | raw }}
                </pre>
            </div>
            {% else %}
                <div class="col-6" style="text-align: center;">
                    <div class="alert alert-warning" role="alert">
                        Connecte toi pour prendre des notes sur cette video.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
